html {
  font-size: 62.5%;
  font-family:
    Helvetica Neue,
    Verdana,
    Arial,
    sans-serif;
}
a {
  color: #333;
  transition: 1s;
}
a:link {
  text-decoration: none;
}
a:visited,
a:active {
  color: #333;
}
caption {
  position: absolute;
  z-index: -10;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  text-indent: -9999px;
  display: none;
}
